/* main-style.css
 *
 * This is the style sheet for the scene in the MainUI class.
 *
 * Color setting for the overall main pane is changed by changing
 * the value of -fx-background. Individual elements are colored by
 * separate values that will overwrite the -fx-background setting.
 *
 * Styling IDs usages are as follows:
 *      #welocme-banner     : Main welcome banner (at login screen)
 *      #transaction-pane   : Transaction pane (top section)
 *      #services-pane      : Services Pane (middle section for main content)
 *      #options-pane       : Options Pane (bottom section for option buttons)
 *      #over-budget        : TransactionUI Over-budget text specific styling
 *      #under-budget       : TransactionUI Under-budget text specific styling
 *      #title              : "Title" level text (used in transaction pane, services pane, etc.)
 *
 * @author Kris Rangel
 */

/* Overall styling */
.root{
    -fx-font-size: 12pt;

    /* Overall main pane background color */
    -fx-background: LightCyan;

    /* Menu bar colors (use to edit overall menu bar colors) */
    -fx-menu-color:             SlateGrey;
    -fx-menu-hover-color:       SteelBlue;
    -fx-menu-text-color:        White;
    -fx-menu-hover-text-color:  Black;

    /* Individual content pane colors */
    -fx-transaction-pane-color: -fx-background;
    -fx-services-pane-color:    -fx-background;
    -fx-options-pane-color:     -fx-background;

    /* Button colors */
    -fx-button-shadow-color: #000000;
    -fx-button-top-color: #ededed;
    -fx-button-bottom-color: #6df0da;
    -fx-button-scale: 0.9;

}

/* Button styling */
.button {
    -fx-scale-x: -fx-button-scale;
    -fx-scale-y: -fx-button-scale;
    -fx-scale-z: -fx-button-scale;
	-fx-background-color:
	    -fx-button-shadow-color,
	    linear-gradient(to bottom, -fx-button-top-color 5%, -fx-button-bottom-color 100%);
    -fx-background-radius: 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover{
   	-fx-background-color:
   	    linear-gradient(to bottom, -fx-button-bottom-color 5%, -fx-button-top-color 100%);
}


/* Menu bar styling */
.menu-bar{
    -fx-font-size: 10pt; // 8pt is default size
    -fx-background-color: -fx-menu-color;
}
.menu-bar .label{
    -fx-text-fill: -fx-menu-text-color;
}
.menu:hover{
    -fx-background-color: -fx-menu-hover-color;
}

.menu-item {
    -fx-background-color: -fx-menu-color;
}

.menu-item:hover{
    -fx-background-color: -fx-menu-hover-color;
}
.menu-item:hover .label{
    -fx-text-fill: -fx-menu-hover-text-color;
}
.context-menu{
    -fx-background-color: -fx-menu-color;
}

/* Login Screen welcom banner styling */
#welcome-banner {
        -fx-font-size: 20pt;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/* Transaction pane styling */
#transaction-pane {
    -fx-background-color: -fx-transaction-pane-color;
}

/* Services pane styling */
#services-pane {
    -fx-background-color: -fx-services-pane-color;
}

/* Options pane styling */
#options-pane {
    -fx-background-color: -fx-options-pane-color;
}

/* TransactionUI amount spent styling */
#over-budget {
    -fx-text-fill: Red;
}

#under-budget {
    -fx-text-fill: Black;
}

/* Title styling (used in ServicesView Content pane, TransactionUI, etc.) */
#title {
    -fx-font-size: 20pt;
}