/* mainUIStyle.css
 *
 * This is the style sheet for the scene in the MainUI class.
 *
 * Color setting for the overall main pane is changed by changing
 * the value of -fx-background. Individual elements are colored by
 * separate values that will overwrite the -fx-background setting.
 *
 * Main content panes are identified as follows:
 *      1. Transaction Pane : #transaction-pane
 *      2. Services Pane    : #services-pane
 *      3. Options Pane     : #options-pane
 *
 * @author Kris Rangel
 */

/* Overall MainUI styling */
.root{
    -fx-font-size: 12pt;

    /* Overall main pane background color */
    -fx-background: LightCyan;

    /* Menu bar colors (use to edit overall menu bar colors) */
    -fx-menu-color:             SlateGrey;
    -fx-menu-hover-color:       SteelBlue;
    -fx-menu-text-color:        White;
    -fx-menu-hover-text-color:  Black;

    /* Individual content pane colors */
    -fx-transaction-pane-color: -fx-background;
    -fx-services-pane-color:    -fx-background;
    -fx-options-pane-color:     -fx-background;
}

/* Menu bar styling */
.menu-bar{
    -fx-font-size: 10pt; // 8pt is default size
    -fx-background-color: -fx-menu-color;
}
.menu-bar .label{
    -fx-text-fill: -fx-menu-text-color;
}
.menu:hover{
    -fx-background-color: -fx-menu-hover-color;
}

.menu-item {
    -fx-background-color: -fx-menu-color;
}

.menu-item:hover{
    -fx-background-color: -fx-menu-hover-color;
}
.menu-item:hover .label{
    -fx-text-fill: -fx-menu-hover-text-color;
}
.context-menu{
    -fx-background-color: -fx-menu-color;
}

/* Transaction pane styling */
#transaction-pane {
    -fx-background-color: -fx-transaction-pane-color;
}

/* Services pane styling */
#services-pane {
    -fx-background-color: -fx-services-pane-color;
}

/* Transaction pane styling */
#options-pane {
    -fx-background-color: -fx-options-pane-color;
}